.status {
  @apply flex h-full items-center;
}
.status-button-desktop :global {
  @media only screen and (max-width: 1023px) {
    display: none !important;
  }
  @apply h-8 overflow-hidden;
  .MuiSelect-select {
    @apply px-3 py-0;
  }
  .MuiSelect-icon {
    @apply fill-white;
  }
  .MuiOutlinedInput-notchedOutline {
    @apply border-0;
  }
}
.status-button-mobile :global {
  border-radius: 100% !important;
  @media only screen and (min-width: 1024px) {
    display: none !important;
  }
  @apply h-5 w-5 overflow-hidden;
  .MuiSelect-select {
    @apply px-3 py-0;
  }
  .MuiSelect-icon {
    @apply top-0 right-0 h-5 w-5 fill-white;
  }
  .status-name {
    @apply hidden;
  }
  .MuiOutlinedInput-notchedOutline {
    @apply border-0;
  }
}
