.topbar-share :global {
  @apply hidden md:block;
  @apply flex items-center;
  .topbar-share-inner {
    @apply bg-[#38BDF8] text-sm text-white;
    @apply rounded-md border border-transparent;
    @apply flex items-center gap-x-1;
    @apply cursor-pointer;
    @apply mr-20 py-1 px-2;
  }
}
