.com-modal-todo-confirm-delete :global {
  .abc-modal-header {
    .abc-icon {
      @apply text-xl leading-none;
    }
    .title-des {
      @apply hidden overflow-x-hidden px-0 md:block md:text-center;
    }
    .title-mob {
      @apply flex justify-center px-0 md:hidden;
    }
    .title-mob:last-child {
      @apply break-words p-0 italic;
    }
  }
  .abc-modal-footer {
    @apply m-0 px-0 pt-4 md:pt-5;
  }
}
