.page-list :global {
  .container {
    @apply px-4 md:p-0;
  }
  .favorite-list {
    @apply mt-10;
  }
  .toolbar {
    @apply mt-3 flex justify-between lg:mt-5;
    .left {
      @apply flex items-center;
      .icon-btn {
        @apply pl-0 pr-3;
        .abc-icon {
          @apply text-2xl md:text-3xl;
        }
      }
    }
    .title {
      @apply flex items-center;
    }
    .right {
      @apply hidden md:flex;
      .abc-btn {
        @apply gap-0 p-0;
      }
      button {
        @apply pr-0;
      }
    }
  }
  .list {
    @apply mt-3 lg:mt-5;
    .empty {
      @apply -mt-1 flex justify-center;
    }
    .item {
      @apply flex h-12 items-center justify-between border bg-white;
      @apply border-t-0 px-4 first:border-t;
      @apply first:rounded-t-lg last:rounded-b-lg;
      @apply transition-all duration-100;
      @apply hover:bg-blue-100;
    }
    .title {
      @apply mr-2 w-full cursor-pointer truncate py-3;
    }
    .actions {
      @apply flex items-center gap-x-3;
      .action-desktop {
        @apply hidden sm:block;
      }
      .abc-btn {
        @apply min-w-0 p-0;
      }
    }
  }
  .float-icon {
    @apply flex cursor-pointer md:hidden;
  }
}
