.date-time-picker :global {
  .date-input {
    label {
      @apply text-h5 font-semibold text-slate-700;
    }
    input {
      @apply p-2 ring-0;
    }
    .MuiInputBase-root {
      @apply w-[85%] pr-3;
      font-family: inherit;
    }
    .MuiIconButton-root {
      @apply invisible;
    }
    fieldset {
      border-color: #bfc0c1 !important;
    }
  }
  .active {
    .MuiIconButton-root {
      @apply visible;
    }
  }
}
