.topbar :global {
  @apply mt-3 lg:mt-7;
  .container {
    @apply flex w-full items-center justify-between px-4 md:p-0;
  }

  .authenticated {
    @apply flex w-full items-center justify-end;
    .h2 {
      @apply flex items-center break-all text-h4 leading-none;
    }
  }
  .ico-user {
    @apply ml-auto mr-2;
  }
  .sep {
    @apply mx-2 mt-[3px] h-4 w-[1px] items-center bg-cyan-800;
  }
  a:hover {
    @apply no-underline;
  }
  .text {
    @apply flex items-end whitespace-nowrap text-h4 leading-none;
  }
  .unverified,
  .logout {
    @apply ml-1 cursor-pointer text-base text-red-500;
  }
}
