.topbar :global {
  @apply mt-3 md:mt-12;
  .container {
    @apply flex justify-between;
  }
  .h2 {
    @apply text-h4;
  }
  .authenticated {
    @apply flex w-full items-center;
  }
  .ico-user {
    @apply ml-auto mr-2 text-xl;
  }
  .sep {
    @apply mx-2 h-4 w-[1px] bg-cyan-800;
  }
  a:hover {
    @apply no-underline;
  }
}
