.page-list :global {
  .toolbar {
    @apply mt-5 flex justify-between;
    .left {
      @apply flex items-center;
      .icon-btn {
        @apply pl-0 pr-3;
        .abc-icon {
          @apply text-2xl md:text-3xl;
        }
      }
    }
    .sep {
      @apply mx-2 inline-flex h-4 w-[1px] bg-cyan-800;
    }
    .title {
      @apply flex items-center;
    }
    .right {
      @apply hidden md:flex;
      button {
        @apply pr-0;
      }
    }
  }
  .list {
    @apply mt-5;
    .empty {
      @apply flex justify-center;
    }
    .item {
      @apply flex items-center justify-between border bg-white;
      @apply border-t-0 px-4 first:border-t;
      @apply first:rounded-t-lg last:rounded-b-lg;
      @apply transition-all duration-100;
      @apply hover:bg-blue-100;
    }
    .title {
      @apply w-full cursor-pointer truncate py-3;
    }
    .actions {
      @apply -mr-2 flex gap-x-3;
    }
  }
  .float-icon {
    @apply flex cursor-pointer md:hidden;
  }
}
