.create-list-section :global {
  @apply py-10;
  .list-user {
    @apply flex items-center justify-end gap-3;
    .title-user {
      @apply text-h4;
    }
  }
  .list-content {
    @apply mt-1 flex justify-between border-b-2 border-black  md:mt-10 md:pb-4;
  }
  .list-left {
    @apply flex items-center justify-between;
  }
  .icon-arrow-left {
    @apply flex cursor-pointer items-center justify-between;
    .abc-icon::before {
      @apply text-xl md:text-[28px];
    }
  }
  .title-left {
    @apply flex;
  }
  .title-todo {
    @apply px-2 text-h6 font-normal sm:text-h5 md:px-4  md:text-h3 md:font-semibold;
  }
  .title-todo:first-child {
    @apply border-r-2  border-black;
  }
  .list-right {
    @apply flex cursor-pointer items-center justify-between bg-transparent text-black hover:bg-transparent;
    .title-right {
      @apply ml-2 text-h6 font-normal md:ml-4 md:text-h5;
    }
    .abc-icon::before {
      @apply text-xl md:text-2xl;
    }
  }
  .list-group {
    @apply pt-8;
    .text-group {
      @apply mb-5 flex h-12 w-full items-center justify-between bg-white sm:mb-5 sm:max-w-7xl;
    }
    .title-group {
      @apply my-3.5 pl-4 text-h6 font-normal md:my-3 md:text-h4;
    }
    .actions {
      @apply flex gap-3 pr-4;
      .abc-icon::before {
        @apply text-xl md:text-2xl;
      }
    }
    .btn-hover-hand {
      @apply cursor-pointer bg-transparent p-0;
    }
  }
}
