.section-create-list :global {
  @apply py-11 sm:py-20;
  .container {
    @apply m-auto;
  }
  .list-content {
    @apply flex justify-between border-b border-black pb-8;
  }
  .list-left {
    @apply flex justify-between;
  }
  .icon-arrow-left {
    @apply h-5 w-5 cursor-pointer items-center sm:h-7 sm:w-7;
  }
  .title-left {
    @apply flex;
  }
  .title-todo {
    @apply px-2 text-base font-semibold sm:px-3 sm:text-h3;
  }
  .title-todo:first-child {
    @apply border-r-2 border-black;
  }
  .list-right {
    @apply flex cursor-pointer items-center justify-between;
    .title-right {
      @apply ml-2 text-base font-normal sm:ml-4 sm:text-h5;
    }
    .icon-add {
      @apply h-5 w-5 bg-transparent p-0 sm:h-6 sm:w-6;
    }
  }
  //-----------------------------------------

  .list-group {
    @apply pt-8;
    .text-group {
      @apply mb-5 flex w-full items-center justify-between bg-white px-4 sm:mb-5 sm:h-12 sm:max-w-7xl;
    }
    .title-group {
      @apply my-3.5 text-base font-normal sm:my-5 sm:text-h4;
    }
    .icon-group {
      @apply flex gap-5;
    }
    .btn-hover-hand {
      @apply cursor-pointer bg-transparent p-0;
    }
  }
}
