.create-list-section :global {
  .toolbar{
    @apply flex justify-between mt-4;
    .left {
      @apply flex items-center;
    }
    .sep{
      @apply h-4 w-[1px] inline-flex mx-3 bg-cyan-800;
    }
    .title {
      @apply flex items-center;
    }
    .btn-create-new{
      @apply px-0;
    }
  }
  .list {
    @apply mt-4;
    .item {
      @apply flex items-center justify-between bg-white border;
      @apply border-t-0 first:border-t px-4;
      @apply first:rounded-t-lg last:rounded-b-lg;
      @apply transition-all duration-100;
      @apply hover:bg-blue-100;
    }
    .title {
      @apply py-3 cursor-pointer w-full truncate;
    }
    .actions {
      @apply flex gap-x-1;
    }
  }
}
