.create-detail-section :global {
  @apply py-10;
  .detail-content {
    @apply mt-1 flex justify-between border-b-2 border-slate-300  md:mt-7 pb-4 md:pb-6;
  }
  .detail-left {
    @apply flex items-center justify-between;
    .abc-icon {
      @apply text-2xl md:text-3xl;
    }
  }
  .icon-arrow-left {
    @apply flex cursor-pointer items-center justify-between;
  }

  .title-todo {
    @apply px-2 text-h6 font-normal sm:text-h5 md:px-4  md:text-h3 md:font-semibold;
  }

  .detail-right {
    @apply flex items-center justify-between gap-2 md:gap-12;
    .items {
      @apply flex cursor-pointer justify-end bg-transparent text-black hover:bg-transparent p-0;
    }
    .title-right {
      @apply hidden sm:ml-4 md:block md:text-h5 md:font-normal;
    }
  }
  //-----------------------------------------

  .detail-group {
    @apply pt-5;
    .detail-list {
      @apply mb-3 flex h-12 w-full items-center justify-between bg-white px-4 sm:max-w-7xl border;
    }
    .list-group {
      @apply flex items-center justify-between;

      .title-group {
        @apply my-3.5 pl-3 text-h6 font-normal md:my-3 md:text-h4;
      }
      .checked {
        @apply line-through;
      }
    }

    .actions {
      @apply flex gap-x-1;
    }
  }
  .ico-arrow-left-circle {
    @apply text-2xl md:text-3xl;
  }
  .abc-icon {
    @apply text-xl md:text-2xl;
  }
}
