.page-detail :global {
  .h2 {
    @apply mx-auto -mt-10 w-full break-words text-h4 font-semibold md:text-h2;
  }
  .toolbar {
    @apply mt-4 flex justify-between;
    .left {
      @apply flex items-center truncate;
      .h3 {
        @apply m-0 flex items-center;
      }
      .icon-btn {
        @apply pl-0 pr-2;
        .abc-icon {
          @apply text-2xl md:text-3xl;
        }
      }
    }
    .right {
      @apply flex justify-end gap-2 md:gap-6 lg:gap-8;
      .btn-create-new {
        @apply hidden md:flex;
      }
      .h5 {
        @apply m-auto hidden items-center md:flex md:whitespace-nowrap;
      }
      .btn {
        @apply -mr-4 whitespace-nowrap p-0 md:mr-0;
      }
      .abc-btn {
        @apply p-0;
      }
    }
  }
  .tasks {
    @apply mt-5;
    .item {
      @apply flex items-center justify-between border bg-white;
      @apply border-t-0 px-4 first:border-t;
      @apply first:rounded-t-lg last:rounded-b-lg;
      @apply transition-all duration-100;
      @apply hover:bg-blue-100;
    }
    .h6 {
      @apply ml-3 w-full cursor-pointer truncate py-3;
    }
    .checked {
      @apply line-through opacity-50;
    }
    .actions {
      @apply -mr-4 flex gap-x-1;
    }
  }
  .float-icon {
    @apply flex cursor-pointer md:hidden;
  }
}
