.page-detail :global {
  .container {
    @apply px-4 md:p-0;
  }
  .toolbar {
    @apply mt-3 flex items-start justify-between lg:mt-5;
    h2 {
      @apply mr-auto break-words text-h4 font-semibold leading-[18px] md:text-h2 lg:leading-none;
    }
    .left {
      @apply flex items-center;
      .icon-btn {
        @apply pl-0 pr-3;
        .abc-icon {
          @apply text-2xl md:text-3xl;
        }
      }
    }
    .sep {
      @apply mx-2 inline-flex h-4 w-[1px] bg-cyan-800;
    }
    .title {
      @apply mt-2.5 mr-3 w-full break-words lg:mt-2;
    }
    .right {
      @apply flex;
      button {
        span.h5 {
          @apply hidden whitespace-nowrap md:inline;
        }
        p {
          @apply hidden lg:inline;
        }
      }
      .btn-edit {
        @apply min-w-0 pr-0 lg:pr-3;
      }
      .btn-share {
        @apply min-w-0 px-0 lg:px-3;
      }
      .btn-add-todo {
        @apply hidden min-w-0 pr-0 md:flex;
      }
    }
  }
  .tasks {
    @apply mt-3 lg:mt-5;
    .empty {
      @apply -mt-1 flex justify-center;
    }
    .item {
      @apply flex w-full  justify-between border bg-white;
      @apply border-t-0 px-4 first:border-t;
      @apply first:rounded-t-lg last:rounded-b-lg;
      @apply transition-all duration-100;
      @apply hover:bg-blue-100;
    }
    .h6 {
      @apply mx-3 flex w-full cursor-pointer items-start break-words py-3 leading-5;
    }
    .checked {
      @apply line-through opacity-50;
    }
    .actions {
      @apply -mr-1 flex gap-x-3;
    }
  }
  .float-icon {
    @apply flex cursor-pointer md:hidden;
  }
}
