.toolbar-right :global {
  @apply flex items-center gap-x-3 sm:gap-x-7;
  .add-task {
    @apply flex gap-x-2;
  }
  .view-mode {
    @apply flex  items-center gap-x-4;
  }
  .btn {
    @apply flex items-center px-1 leading-tight hover:cursor-pointer;
  }
  .sort {
    @apply flex gap-x-1;
  }
  .tool-filter {
    @apply ml-2;
  }
  .settings {
    @apply flex gap-x-1 pl-1;
  }
  .delete {
    @apply flex items-center gap-x-1;
  }
  .active {
    @apply rounded border bg-[#E5E7EB] px-1 pt-1;
  }
  .icons {
    @apply leading-tight hover:cursor-pointer;
  }
}
