.task-body :global {
  @apply mt-8 bg-gray-50 px-8 py-3 shadow-md;
  @apply lg:grid lg:grid-cols-3 lg:gap-x-32;

  .body-left-wrapper {
    @apply col-span-2;
  }

  .divide {
    @apply border-b last:border-0;
  }

  .item {
    @apply py-5;
    .title {
      @apply mb-3 flex items-center gap-2.5;
      i::before {
        @apply text-[20px];
      }
      span {
        @apply font-semibold text-slate-700;
      }
    }
  }
}
