.create-room :global {
  @apply h-full;
  .container {
    @apply h-full;
  }
  .inner {
    @apply mx-auto flex h-full max-w-[708px] flex-col items-center justify-center;
  }
  .title {
    @apply text-center text-5xl font-extrabold text-abc-blue md:text-hero;
  }
  .headline {
    @apply mt-16 text-center text-3xl lg:font-medium text-abc-blue md:text-h1;
  }
  .actions {
    @apply w-full mt-10 grid md:grid-cols-2 gap-x-5 gap-y-5;
  }
  button {
    @apply md:py-5 bg-red-500;
  }
  .form-input {
    @apply text-h6 md:text-h4 p-3 md:p-4;
  }
  .input-group-text {
    @apply px-5 lg:px-4;
  }
}
