.page-action :global {
  @apply h-full;
  .container {
    @apply h-full;
  }
  .inner {
    @apply mx-auto flex h-full max-w-[708px] flex-col items-center justify-center;
  }
  .title {
    @apply text-center text-5xl font-extrabold text-blue-500 md:text-hero;
  }
  .headline {
    @apply mt-16 text-center text-3xl text-blue-500 md:text-h1 lg:font-medium;
  }
  .actions {
    @apply mt-10 grid w-full gap-x-5 gap-y-5 md:grid-cols-2;
  }
  .btn-join {
    @apply px-5 #{!important};
  }
  .abc-input.error {
    @apply relative;
    .message {
      @apply absolute left-0;
    }
  }
}
