.page-action :global {
  @apply h-full;
  .container {
    @apply h-full;
  }
  .inner {
    @apply mx-auto flex h-full max-w-[708px] flex-col items-center justify-center;
  }
  .title {
    @apply text-center text-5xl font-extrabold text-blue-500 md:text-hero;
  }
  .h1 {
    @apply mt-6 text-center font-medium text-blue-500 md:mt-16;
  }
  .actions {
    @apply mt-8 grid w-full gap-x-5 gap-y-5 md:grid-cols-2;
  }
  .form-input {
    @apply p-0 px-4;
  }
  .abc-input.error {
    @apply relative;
    .message {
      @apply absolute left-0;
    }
  }
}
