.kanban-column-footer :global {
  // @apply h-full w-full;
  .btn-add-task {
    @apply flex justify-center hover:cursor-pointer;
    @apply rounded-xl border border-dashed;
    @apply p-3 text-slate-500;
  }
}
