.toolbar-detail :global {
  .toolbar {
    @apply mt-3 flex items-start justify-between lg:mt-5;
    h2 {
      @apply mr-auto break-words text-h4 font-semibold leading-[18px] md:text-h2 lg:leading-none;
    }
    .left {
      @apply flex items-center;
      .icon-btn {
        @apply pl-0 pr-3;
        .abc-icon {
          @apply text-2xl md:text-3xl;
        }
      }
    }
    .sep {
      @apply mx-2 inline-flex h-4 w-[1px] bg-cyan-800;
    }
    .title {
      @apply mt-2.5 mr-3 w-full lg:mt-2;
      word-break: break-word;
    }
    .right {
      @apply flex;
      button {
        span.h5 {
          @apply hidden whitespace-nowrap md:inline;
        }
        p {
          @apply hidden lg:inline;
        }
      }
      .btn-edit {
        @apply min-w-0 pr-0 lg:pr-3;
      }
      .btn-share {
        @apply min-w-0 px-0 lg:px-3;
      }
      .btn-add-todo {
        @apply hidden min-w-0 pr-0 md:flex;
      }
    }
  }
}
