.toolbar-detail :global {
  .toolbar {
    @apply mt-3 flex items-start justify-between lg:mt-5;
    h2 {
      @apply mr-auto break-words text-h4 font-semibold md:text-h2;
    }
    .left {
      @apply flex items-center;
      .icon-btn {
        @apply pl-0 pr-3;
        .abc-icon {
          @apply text-2xl md:text-3xl;
        }
      }
    }
    .sep {
      @apply mx-2 inline-flex h-4 w-[1px] bg-cyan-800;
    }
    .title {
      @apply mt-2.5 mr-3 w-full lg:mt-0;
      word-break: break-word;
    }
    .right {
      @apply flex items-center;
      button {
        .abc-icon {
          @apply -mr-2;
        }
        span.h5 {
          @apply hidden whitespace-nowrap md:inline;
        }
        p {
          @apply hidden lg:inline;
        }
      }
      .btn-add-todo {
        @apply hidden md:flex;
      }
    }
    .filter {
      @apply relative ml-3 flex items-center gap-1.5;
    }
    .filter-icon {
      @apply absolute h-7;
    }
    .select {
      @apply overflow-hidden;
      .MuiSelect-select {
        @apply ml-2 p-0 lg:pl-5;
        .text-h5 {
          @media only screen and (max-width: 1023px) {
            // background-color: inherit !important;
            font-weight: 900;
            border-radius: 12px !important;
            margin: 8px 8px 0;
            padding: 0 4px !important;
            font-size: 12px !important;
            line-height: 14px !important;
          }
        }
      }
      .MuiSelect-icon {
        @apply fill-white;
      }
      .MuiOutlinedInput-notchedOutline {
        @apply border-0;
      }
      svg {
        @apply hidden;
      }
    }
  }
}
