.toolbar :global {
  @apply mx-4 sm:mx-0;
  .header {
    @apply mt-9 flex justify-between gap-4;
    .abc-btn {
      @apply min-h-fit min-w-fit p-0;
    }
    .left {
      @apply flex grow items-start gap-2.5;
      .ico-task {
        @apply mt-[-3px] hidden sm:block;
      }
      h2 {
        @apply text-h5 font-medium lg:text-h2 lg:font-semibold;
        word-break: break-word;
      }
    }
    .right {
      .toolbar-desktop {
        @apply hidden gap-4 text-h5 sm:flex;
      }
    }
  }
  .info-status {
    @apply flex gap-1 text-slate-500;
  }
}
