.toolbar :global {
  .header {
    @apply mt-9 flex justify-between gap-4;
    .abc-btn {
      @apply min-h-fit min-w-fit p-0;
    }
    .left {
      @apply flex basis-2/3 items-center gap-2.5;
      h2 {
        @apply text-h5 font-medium lg:text-h2 lg:font-semibold;
        word-break: break-word;
      }
    }
    .right {
      .toolbar-desktop {
        @apply hidden gap-4 text-h5 sm:flex;
      }
    }
  }
  .info-status {
    @apply flex gap-1 text-slate-500;
  }
}
.status :global {
  @apply relative flex h-full items-center;

  .MuiSelect-select {
    @apply h-full w-full;
    padding: 0 !important;
    .mobile-icon {
      @apply absolute hidden h-[23px] w-full items-center justify-center;
    }
  }

  .MuiOutlinedInput-notchedOutline {
    @apply border-0;
  }

  .MuiSelect-icon {
    @apply hidden fill-white;
  }
}
