.menu-mobile :global {
  @apply flex flex-col justify-between bg-black text-white lg:hidden;
  @apply fixed top-0 z-40;
  @apply transition-all duration-300;
  @apply h-full w-full pt-14;
  .line {
    @apply border-t border-gray-900;
  }
  .topbar-menu-mobile {
    @apply z-50 flex h-10 items-center bg-todo-blue-20/[0.6] text-xs text-white;
    .container {
      @apply flex items-center justify-between;
    }
    .lienhe-menu-top {
      @apply flex items-center justify-start gap-1;
    }
    .social-logo {
      @apply flex gap-5;
    }
  }
  .top {
    @apply h-[100%_-_56px] overflow-auto md:mt-[24px];
  }
  nav {
    @apply font-semibold uppercase;
    .child {
      @apply ml-5;
    }
    a {
      @apply relative block border-b border-gray-900 py-4 text-white no-underline transition-all duration-300;
    }
    .project-list {
      @apply text-caption ml-6 mr-2 lg:mr-0 lg:ml-0;
      a {
        @apply bg-transparent py-2;
      }
    }
    .parent:first-child {
      a {
        @apply border-t border-gray-900;
      }
    }
  }
}
