.footer :global {
  @apply mt-auto py-4;
  .container {
    @apply p-4 md:p-0;
  }
  .copyright {
    @apply text-center md:flex md:items-center md:justify-center md:gap-1;
  }
  a {
    @apply text-slate-700 hover:text-blue-500;
  }
}
