.create-detail-section :global {
  @apply py-20;
  .detail-content {
    @apply flex justify-between  border-b-2 border-black pb-6;
  }
  .detail-left {
    @apply flex items-center justify-between;
  }
  .icon-arrow-left {
    @apply h-5 w-5 cursor-pointer items-center sm:h-7 sm:w-7;
  }
  .title-left {
    @apply flex;
  }
  .title-todo {
    // @apply px-2 text-base font-semibold sm:px-3 sm:text-h3;
    @apply px-4 text-base font-semibold sm:px-3 sm:text-h3;
  }

  .detail-right {
    @apply flex justify-between;
    .detail-items {
      @apply flex cursor-pointer items-center;
    }
    .items-share {
      @apply px-12;
    }
    .title-right {
      @apply ml-4 text-base font-normal sm:ml-4 sm:text-h5;
    }
    .items {
      @apply h-5 w-5 bg-transparent p-0 sm:h-6 sm:w-6;
    }
  }
  //-----------------------------------------

  .detail-group {
    @apply pt-5;
    .detail-list {
      @apply mb-5 flex w-full items-center justify-between bg-white sm:mb-5 sm:h-12 sm:max-w-7xl;
    }
    .title-group {
      @apply my-3.5  text-base font-normal sm:my-5 sm:text-h4;
    }
    .icon-group {
      @apply flex gap-3.5 pr-4;
    }
    .btn-hover-hand {
      @apply cursor-pointer bg-transparent p-0;
    }
  }
}
