.tool-filter :global {
  @apply relative flex items-center gap-1.5 lg:h-7;
  svg {
    @apply hidden;
  }
  .filter-icon {
    @apply absolute h-6;
    svg {
      @apply hidden;
    }
    .abc-icon.size-24:before {
      @apply text-[20px] md:text-2xl;
    }
  }
  .MuiSelect-select {
    @apply h-6 p-0 pl-16;
    padding-right: 0 !important;
    .dropdown-name {
      @apply mt-2 h-auto py-0 px-1 align-middle text-brand;
    }
  }
  .MuiOutlinedInput-notchedOutline {
    @apply border-0 p-0;
  }
}

.sub-select :global {
  @apply w-full;
  .MuiInputBase-root {
    @apply w-full p-0;
  }
  .MuiSelect-select {
    @apply w-full p-0;
  }
  .MuiList-root {
    background-color: #000;
  }
  .priority-inner {
    @apply px-2 py-0.5;
  }
}
