.menu-desktop :global {
  @apply bg-abc-dark/[0.7] sticky top-0 right-0 left-0 z-50 w-full lg:mt-10;
  .inner {
    @apply flex items-center justify-between text-white;
  }
  .logo-iki {
    @apply text-caption text-center text-white hover:no-underline;
    h1 {
      @apply relative top-[1px];
    }
  }
  nav {
    @apply hidden lg:block;
    li {
      &:hover,
      &.hover,
      &.active {
        > a span {
          @apply text-todo-blue-20;
        }
      }
      a {
        @apply py-4 px-5 font-semibold uppercase text-white;
        i {
          @apply -mt-[2px];
        }
      }
      > ul,
      > div:not(.menu-mega),
      .menu-mega {
        @apply bg-black;
      }
      li {
        a {
          @apply py-3;
        }
      }
    }
    > ul > li a.active {
      @apply text-todo-blue-20;
    }
    > ul > li:last-child > a {
      @apply pr-0;
    }
  }
}
