.com-action :global {
  .inner {
    @apply mx-auto md:max-w-xl;
  }
  .logo-wrapper {
    @apply flex justify-center;
  }
  .todolist-logo {
    @apply w-28;
  }
  .enter-your-name {
    @apply mt-3 border border-black/20 bg-white p-10 md:p-16;
    h2 {
      @apply text-center;
    }
  }
  .heading {
    @apply pb-14 text-2xl font-normal md:text-h2;
  }
  form {
    @apply mt-14;
  }
  .btn-submit {
    @apply mt-8 w-full;
  }
  .copyright {
    @apply mt-3 text-center text-base md:text-h5;
  }
}
