.body-left :global {
  textarea {
    box-shadow: none;
  }

  .status {
    @apply lg:hidden;
  }

  .description {
    .description-text {
      * {
        @apply w-full break-words;
      }
      ul,
      ol {
        list-style: revert;
        margin-left: 16px;
      }
      img {
        @apply my-2 w-full max-w-[200px];
      }
    }
    .edit-btn {
      @apply rounded bg-slate-200 p-1 text-h7 text-slate-500;
    }
  }

  .attachment {
    .task-images {
      @apply flex flex-col gap-3;
      &-upload {
        @apply mt-3 flex gap-3 overflow-x-auto bg-blue-100 p-2;
      }
    }
  }

  .comment {
    @apply hidden lg:block;
  }
}
