.toolbar-right :global {
  @apply flex items-center gap-x-3 sm:gap-x-7;
  .add-task {
    @apply flex gap-x-2;
  }
  .view-mode {
    @apply flex  gap-x-2;
  }
  .btn {
    @apply flex items-center px-1 leading-tight hover:cursor-pointer;
  }
  .sort {
    @apply flex gap-x-1;
  }
  .settings {
    @apply flex gap-x-1;
  }
  .tool-filter {
    @apply ml-2;
  }
  .delete {
    @apply flex items-center gap-x-1;
  }
  .list-view-active {
    @apply rounded border bg-[#E5E7EB];
  }
}
